{{setTitle "Myth & Legends - Create myth"}}

<main class="create">
    <!-- create Page (Only for logged-in users) -->
    <section id="create">
        <div class="form">
            <h2>create Myth or Legend</h2>
            <form method="post" class="create-form">
                <input type="text" id="name" name="name" placeholder="Name" value="{{myth.name}}"/>
                <input type="text" id="origin" name="origin" placeholder="Origin (e.g. Greek, Norse, Egyptian)" value="{{myth.origin}}"/>
                <input type="text" id="role" name="role" placeholder="Role" value="{{myth.role}}"/>
                <input type="text" id="myth-img"name="image" placeholder="Image URL" value="{{myth.image}}"/>
                <input type="text" id="symbol" name="symbol" placeholder="Symbol / Attribute" value="{{myth.symbol}}"/>
                <input type="text" id="era" name="era" placeholder="Era or Period" value="{{myth.era}}"/>
                <textarea id="description"name="description"  placeholder="Description...">{{myth.description}}</textarea>
                <button type="submit">create</button>
            </form>

        </div>
    </section>
</main>