<main class="report-section">
    <section id="report-section">
        <h2>Report</h2>
        {{#if myths}}
            <ul class="report-list">
                <!-- Display a li with information about every post (if any)-->
                {{#each myths}}
                    <ul id="report-list">
                        <li class="report-card">
                            <img src="{{this.image}}"/>
                            <h3>{{this.name}}</h3>
                            <p><strong>Origin:</strong> <br>{{this.origin}}</p>
                            <p><strong>Role:</strong> <br> {{this.role}}</p>
                            <p><strong>Symbol:</strong> <br>{{this.symbol}}</p>
                            <p><strong>Era:</strong> <br> {{this.era}}</p>
                            <p><strong>Created on:</strong> <br>{{this.createdAt}}</p>
                            <p><strong>Owner:</strong> <br> {{this.owner}}</p>
                        </li>
                    </ul>
                {{/each}}
            </ul>
        {{else}}
            <!-- Display an h2 if there are no posts -->
            <h2 id="no-post">There are no myths and legends! </h2>
        {{/if}}

        <!-- Display an h2 if an error occurs -->
        {{#if error}}
            <h2 id="no-post">Error loading report! </h2>
        {{/if}}
    </section>
</main>